# Safetynet bypass
# Inspired in magisk source code, by topjohnwu
# Ported to ramdisk by Pixel Experience Core Team

on property:sys.boot_completed=1
   # selinux nodes, hide permissive state
   chmod 0640 /sys/fs/selinux/enforce
   chmod 0440 /sys/fs/selinux/policy 
